html {
    -webkit-text-size-adjust: none;
    touch-action: pan-y;
    font-size: 16px;
}

body {
    text-align: center;
    padding-top: 20%;
    height: 100vh;
    background-size: cover;
}

.input-line {
    display: flex;
    justify-content: center;
}
.input-line div {
    margin: 0 3px;
}

input {
    width: 30px;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  font-size: 16px;
}

p {
    margin-bottom: 0;
    font-style: italic;
}

pre {
    font-style: italic;
    white-space: pre;
    word-wrap: normal;
    resize: none;
    box-sizing: border-box;
}

button:not(.btn-sm) {
    margin-top: 10px;
    font-size: 16px;
}

ul {
    display: inline-block;
    padding-left: 10px;
    list-style-type: none;
}

li {
    padding-top: 7px;
    padding-bottom: 7px;
}

#sleepImg {
    pointer-events: none;
    /* margin-left: -75px;
    margin-top: -20px; */
}

.w3-animate-opacity{animation:opac 0.3s}@keyframes opac{from{opacity:0} to{opacity:1}}