<div class="container_12 my-header" >
<div class="grid_12">
    <div ng-hide="isLogin" class="socials">
        <a ui-sref="login"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
        <a ng-click="loginFB()"></a>
        <a ng-click="loginGG()"></a>
    </div>
    <div ng-show="isLogin" class="socials" >
        <div>
            <div ng-click="reset()" style="float: midle; cursor: pointer">
                <img ng-src={{user.imageacc}} height="50" width="50">
            </div>
            <p>Chào mừng {{ user.name }} đến với Cơm Văn Phòng</p>
            <!--<div style="clear: right;">-->
                <!--<button ng-click="logout()">Logout</button></div>-->
        </div>
    </div>
    <h1><a href="index.html"><img src="images/logo.png" alt="Boo House"></a> </h1>
    <div class="menu_block">


        <nav id="bt-menu" class="bt-menu">
            <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
            <ul>
                <li ng-class="currentMenu[0]" class="bt-icon"><a ui-sref="/" ng-click="changeCurrentMenu(0)">Trang chủ</a></li>
                <li ng-class="currentMenu[1]" class="bt-icon"><a ui-sref="menu" ng-click="changeCurrentMenu(1)">Thực đơn</a></li>
                <li ng-class="currentMenu[2]" class="bt-icon"><a ui-sref="reservation" ng-click="changeCurrentMenu(2)">Đặt món</a></li>
                <li ng-class="currentMenu[3]" class="bt-icon"><a ui-sref="contact" ng-click="changeCurrentMenu(3)">Liên hệ</a></li>
            </ul>
        </nav>

        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
</div>
<div id="cart">
    <a ui-sref="reservation" ng-click="changeCurrentMenu(2)" id="nofc"><strong id="STRONG_333">{{cart}}</strong></a>
    <div id="DIV_417">
        <h4 id="H4_515">
            Giỏ hàng
        </h4>
        <p id="P_611">
            <a ui-sref="reservation" ng-click="changeCurrentMenu(2)" id="A_712">{{cart}} sản phẩm</a>
        </p>
    </div>
</div>