<div class="content" style="background-color: #eee; padding-top: 50px; padding-bottom: 50px;">
    <div class="form">
        <form class="login-form">
            <input type="email" placeholder="email" ng-model="email"/>
            <input type="password" placeholder="old password" ng-model="oldPassword"/>
            <input type="password" placeholder="new password" ng-model="newPassword"/>
            <input type="password" placeholder="confirm password" ng-model="confirmPassword"/>
            <button ng-click="change()">Đổi mật khẩu</button>
        </form>
    </div>
</div>