<div class="content contact">
    <div class="container_12">
        <div class="grid_12" style="margin-top: 50px;">
            <ng-map center="[10.7627536, 106.6822021]">
                <marker position="[10.7627536, 106.6822021]" title="Cơm văn phòng"></marker>
            </ng-map>
        </div>
        <div class="clear"></div>
        <div class="grid_4">
            <h3 class="head3">Địa chỉ</h3>
            <div class="map">
                <address>
                    <dl>
                        <dt>Quán cơm: <span >Cơm văn phòng giá rẻ. 227 - Nguyễn Văn Cừ - Quận 5</span> <br>
                        </dt>
                        <dd><span>Điện thoại: </span>(08) 38383838</dd>
                        <dd><span>Di động: </span>0123456789</dd>
                        <dd>E-mail: <a href="#" class="col2">comvanphong@gmail.com</a></dd>
                        <dd>Facebook: <a href="#" class="col2">www.facebook.com/comvanphong</a></dd>                              </dl>
                </address>
                <p> {{contact.description}}</p>
            </div>
        </div>
        <div class="grid_8">
            <h3 class="head3">Mẫu liên hệ</h3>
            <form id="form" name="myForm">

                <div class="success_wrapper">
                    <div class="success-message">Contact form submitted</div>
                </div>
                <label class="name">
                    <input type="text" placeholder="Tên" ng-model="name"/>
                </label>

                <label class="email">
                    <input type="email" name="input" placeholder="E-mail" ng-model="email"/>

                </label>
                <label class="phone">
                    <input type="text" placeholder="Điện Thoại" ng-model="phone"/>
                </label>
                <label class="message">
                    <textarea placeholder="Tin nhắn" ng-model="message"></textarea>
                </label>
                <div>
                    <div class="clear"></div>
                    <div class="btns">
                        <a href="" data-type="reset" class="btn">Xoá</a>
                        <a href="" class="btn" ng-click="send()">Gởi</a></div>
                </div>
            </form>
        </div>
    </div>
</div>