<div class="content contact">
    <div class="container_12">
        <h3>Địa chỉ giao hàng</h3>
        <form id="FORM_101">

            <div id="DIV_3090">

                <label for="full_name" id="LABEL_4090">
                    Họ tên
                </label>
                <div id="DIV_5090">
                    <input type="text" name="full_name" id="INPUT_6090" ng-model="userName" />
                </div>
            </div>
            <div id="DIV_9090">

                <label for="telephone" id="LABEL_10090">
                    Điện thoại di động
                </label>
                <div id="DIV_11090">
                    <input type="tel" name="telephone" id="INPUT_12090" placeholder="Nhập số điện thoại" />
                </div>
            </div>
            <div id="DIV_269090">

                <label for="region_id" id="LABEL_270090">
                    Tỉnh/Thành phố
                </label>
                <div id="DIV_271090">

                    <select name="region_id" id="SELECT_272090">


                        <option value="294" id="OPTION_274">
                            Hồ Chí Minh
                        </option>

                    </select>

                </div>
            </div>
            <div id="DIV_339090">

                <label for="city_id" id="LABEL_340090">
                    Quận/Huyện
                </label>
                <div id="DIV_341090">
                    <!--                -->

                    <!--                    <input name="city" id="city_id" type="text" class="form-control address" value="-->

                    <!--" placeholder="Nhập Quận/Huyện">-->

                    <!---->

                    <!--                -->

                    <select name="city_id" id="SELECT_342090">

                        <option id="OPTION_343">
                            Chọn Quận/Huyện
                        </option>
                        <option>
                            Quận 1
                        </option>
                        <option>
                            Quận 2
                        </option>
                        <option>
                            Quận 3
                        </option>
                        <option>
                            Quận 4
                        </option>
                        <option>
                            Quận 5
                        </option>
                        <option>
                            Quận 6
                        </option>
                        <option>
                            Quận 7
                        </option>
                        <option>
                            Quận 8
                        </option>
                        <option>
                            Quận 9
                        </option>
                        <option>
                            Quận 10
                        </option>
                        <option>
                            Quận 11
                        </option>
                        <option>
                            Quận 12
                        </option>
                        <option>
                            Quận Bình Tân
                        </option>
                        <option>
                            Quận Bình Thạnh
                        </option>
                        <option>
                            Quận Gò Vấp
                        </option>
                        <option>
                            Quận Phú Nhuận
                        </option>
                        <option>
                            Quận Tân Bình
                        </option>
                        <option>
                            Quận Tân Phú
                        </option>
                        <option>
                            Quận Thủ Đức
                        </option>
                        <option>
                            Huyện Bình Chánh
                        </option>
                        <option>
                            Huyện Cần Giờ
                        </option>
                        <option>
                            Huyện Củ Chi
                        </option>
                        <option>
                            Huyện Hóc Môn
                        </option>
                        <option>
                            Huyện Nhà Bè
                        </option>
                    </select>


                </div>
            </div>
            <!--
<div id="DIV_346090">

<label for="ward_id" id="LABEL_347">
Phường/Xã
</label>
<div id="DIV_348090">


<select name="ward_id" id="SELECT_349090">

<option id="OPTION_350">
Chọn Phường/Xã
</option>
</select>


</div>
</div>
-->
            <div id="DIV_353090">

                <label for="street" id="LABEL_354090">
                    Địa chỉ
                </label>
                <div id="DIV_355090">
                    <textarea name="street" id="TEXTAREA_356090" placeholder="Ví dụ: 725, đường Lê Hồng Phong, Phường 12"></textarea>
                </div>
            </div>

            <div id="DIV_361090">

                <button id="BUTTON_363090" type="submit" value="create" ng-click="sendOrder()">
                    Gửi phiếu đặt hàng
                </button>
            </div>

        </form>

    </div>
</div>